* {
    font-family: "Philosopher", sans-serif;
}

header {
    background-color: #9f80a5;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 30;
}



header ul {
    display: flex;
    margin: 0;
}

header ul li {
    list-style: none;
    margin-right: 20px;
    padding: 10px;
}

header ul li:hover {
    background-color: whitesmoke;
}

header ul li a {
    text-decoration: none;
    color: rgb(24, 20, 20);
    text-transform: uppercase;
}

main {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
    margin-top: 50px;
}

footer {
    background-color: #9f80a5;
    text-align: center;
    padding: 10px 0px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

p {
    line-height: 2;
}

.separator {
    height: 20px;
    background-image: url("../assets/imagenes/flecha.jpg");
    background-size: contain;
    background-repeat: repeat-x;
}

.centrada {
    margin: 0 auto;
    display: block;
}

.redes-sociales p {
    display: inline;
}

.redes-sociales a {
    border: 1px solid violet;
    margin: 0px 5px;
    padding: 5px;
    display: inline-flex;
    border-radius: 6px;
    text-decoration: none;
}

.redes-sociales a img {
    margin-right: 5px;
}

.texto-imagen li {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

h2.contacto {
    text-align: center;
}

.hero {
    display: flex;
    justify-content: center;
}

form {
    margin-bottom: 40px;
}

form fieldset div {
    margin-bottom: 10px;
}

form button {
    border: none;
    padding: 5px 10px;
    background-color: #9f80a5;
    cursor: pointer;
}
